{namespace closuretest}

/**
 * Test template
 */
{template .index}
Hello world!
{/template}

/**
 * Long test template
 * 
 * @param long A long value
 */
{template .long}
{$long}
{/template}

/**
 * List test template
 * 
 * @param name Name of the list
 * @param list A list
 */
{template .list}
{$name}:{sp}
{foreach $item in $list}
	{$item}{if not isLast($item)},{sp}{/if}
{/foreach}
{/template}

/**
 * List in list test template
 * 
 * @param name Name of the list
 * @param list A list
 */
{template .listInList}
{foreach $item in $list}
	{call .list}
		{param name: $name/}
		{param list: $item/}
	{/call}
{/foreach}
{/template}
